h1 {
    color: blue;
    padding-left: 50%;
    padding-top: 20px;
    font-family: 'Andale Mono', monospace;
}

h2 {
    padding-left: 45%;
    padding-bottom: 50px;
    font-family: 'Dancing Script', serif;
    font-size: x-large;
}

/* #car {
    width: 10%; 
    height: 10%;
} */

#captain{
    width: 100px;
    height: auto;
    padding: 100px;
}

.row #car{
    width: 300px;
    height: auto;
    padding-left: 20px;
}


